.page-num-div,
.page-number,
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-number {
    margin: 0 10px;
    cursor: default;
}

.page-num-div,
.btn-container {
    width: max-content;
    margin: auto;
}

.btn-container {
    margin-bottom: 20px;
}

.selected-pge {
    color: blue;
    text-decoration: underline;
}