.page-num-div,
.page-number,
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-number {
    margin: 0 10px;
}

.page-num-div,
.btn-container {
    width: max-content;
    margin: auto;
}

.selected-pge {
    color: white;
    background: firebrick;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}